@import "../../../scss/variables";
@import "../../../scss/mixins";

.j-card {
  display: block;
  position: relative;
  width: 310px;
  min-width: 310px;
  @media (min-width: 576px) {
    width: 342px;
    min-width: 342px;
  }
}

.card-wrapper-primary,
.card-wrapper-secondary,
.card-wrapper-accent,
.card-wrapper-warn {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.card-wrapper- {
  &primary {
    .card-top {
      background-image: url("../../../../../src/assets/images/filler-image.png");
      border-color: $primary-2;

      .beta {
        background-color: $primary-2;
      }

      .content {
        background-color: $primary-2;
        box-shadow: 0 0 20px 20px $primary-2;
      }
    }

    .card-bottom {
      background-color: $primary-3;
    }
  }

  &secondary {
    .card-top {
      background-image: url("../../../../../src/assets/images/filler-image.png");
      border-color: $secondary-2;

      .beta {
        background-color: $secondary-2;
      }

      .content {
        background-color: $secondary-2;
        box-shadow: 0 0 20px 20px $secondary-2;
      }
    }

    .card-bottom {
      background-color: $secondary-3;
    }
  }

  &accent {
    .card-top {
      background-image: url("../../../../../src/assets/images/filler-image.png");
      border-color: $accent-2;

      .beta {
        background-color: $accent-2;
      }

      .content {
        background-color: $accent-2;
        box-shadow: 0 0 20px 20px $accent-2;
      }
    }

    .card-bottom {
      background-color: $accent-3;
    }
  }

  &warn {
    .card-top {
      background-image: url("../../../../../src/assets/images/filler-image.png");
      border-color: $warn-2;

      .beta {
        background-color: $warn-2;
      }

      .content {
        background-color: $warn-2;
        box-shadow: 0 0 20px 20px $warn-2;
      }
    }

    .card-bottom {
      background-color: $warn-3;
    }
  }
}

.card-top {
  background-size: cover;
  border-radius: 16px 16px 0 0;
  border-style: solid;
  border-width: 3px;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;

  .beta {
    color: #fff;
    border-radius: 0 0 8px 8px;
    display: inline-block;
    font-size: 11px;
    margin: 0 auto;
    padding: 1px 8px 2px 8px;
  }

  .content {
    padding: 10px;
  }
}

.card-bottom {
  align-items: center;
  border-radius: 0 0 16px 16px;
  display: flex;
  justify-content: space-between;
  padding: 16px;

  button {
    background-color: rgba(#fff, 0.3);
    border: none;
    border-radius: 14px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    padding: 6px 10px;

    &:first-of-type {
      margin-right: 8px;
    }

    &:hover {
      background-color: rgba(#fff, 0.6);
    }
  }
}

.j-card__logo {
  margin-right: 8px;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  text-align: center;
}

.j-card__logo--accent {
  background: $accent;
}

.j-card__description {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
}

.j-card__controls {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 16px;

  @media (min-width: 576px) {
    left: 24px;
    right: 24px;
    bottom: 24px;
  }

  .j-button {
    margin-right: 24px;
  }
}

.j-button {
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 101px;
  line-height: 34px;
  padding: 0 16px;
  border-radius: 30px;
  overflow: visible;
  font-weight: 400;
  font-size: 14px;
  color: white;
  border: 3px solid transparent;
}

.j-button--secondary {
  @include button-bg($secondary);
}

.j-button--accent {
  @include button-bg($accent);
}

.j-button--primary {
  @include button-bg($primary);
}

.j-button--warn {
  @include button-bg($warn);
}

.j-button__icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
