@import "variables";

$colors: (
  primary: $primary,
  secondary: $secondary,
  accent: $accent,
  warn: $warn
);

@mixin titleColor($attribute: "color", $prefix: "-") {
  @each $name, $hex in $colors {
    .#{$prefix}#{$name} {
      #{$attribute}: $hex;
    }
  }
}

@mixin button-bg($bg) {
  background: $bg;
  transition: background-color 0.3s ease, border 0.3s ease;

  &:hover:not(:disabled) {
    background: darken($bg, 20%);
  }
  &.is-active,
  &:active:not(:disabled) {
    border-color: lighten($bg, 6%);
    background: darken($bg, 20%);
  }
  &.is-disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
